@model Vidly.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>

@using (Html.BeginForm("Save", "Customers"))    //this code renders the <form></form> tags
{
    @Html.ValidationSummary(true, "Please fix the following errors.")  //Will also display the error messages of not populated boxes as a summary
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Name)  @* Sets/uses a lambda expression Name for the label.  uses "m" as in model as variable *@
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })   @*the "@class" adds the length required in input field*@
        @Html.ValidationMessageFor(m => m.Customer.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MembershipTypeId)  @* Sets/uses a lambda expression Name for the label.  uses "m" as in model as variable *@
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership", new { @class = "form-control" })   @*the "@class" adds the length required in input field*@
        @Html.ValidationMessageFor(m => m.Customer.MembershipTypeId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Birthdate)  @* Sets/uses a lambda expression Name for the label.  uses "m" as in model as variable *@
        @Html.TextBoxFor(m => m.Customer.Birthdate, "{0:d MMM yyyy}", new { @class = "form-control" })   @*the "@class" adds the length required in input field*@
        @Html.ValidationMessageFor(m => m.Customer.Birthdate)
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsletter) Subscribed to Newsletter?
        </label>
    </div>
    @Html.HiddenFor(m => m.Customer.Id)
    @Html.AntiForgeryToken()  //this entry will create a token as a hidden field  and also as a cookie on client's computer
    <button type = "submit" class = "btn btn-primary">Save</button>  //The "btn-primary" indicates this is the primary submission button
}

@*this section will allow for client-side validation (by the cookie method)*@
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}